<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="in.bangbit.plamobidemo">

<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

<application
    android:name=".MainSingleton"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <!-- debug: AIzaSyA_tPVBt5VVT7z55sp6TaH_Od_6echvXvY -->
    <!-- release: AIzaSyDMwzB9Q9N1alJKK9P7LjHH924G1FxTsO0 -->
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBHV5_9HpeLIov3xAanRbgZlIfDAv_Ep_I"/>

    <activity
        android:name=".SplashScreenActivity"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".LoginActivity"
        android:screenOrientation="portrait"/>
    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait"/>
</application>

</manifest>
